################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wdqs/v14/.suo
/config.pyc
/utils.pyc
wdqs.log*
wdqs.db
wdqs.yaml
*.pyc
*.yaml
*.json